.fibmo-question-type {
  font-family: Arial, sans-serif;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fdfdfd;
}

.fibmo-question {
  font-size: 20px;
  margin-bottom: 12px;
  font-weight: 500;
  color: #003366;
}

.fibmo-container {
  margin-bottom: 15px;
}

.fibmo-svg {
  margin-bottom: 12px;
  text-align: center;
}

.fibmo-img img {
  max-width: 100%;
  height: auto;
  margin-bottom: 12px;
}

.mfib-option-label {
  font-weight: bold;
  margin-right: 0.5rem;
  color: #333;
}


.fibmo-options {
  margin-top: 10px;
}

.fibmo-option {
  margin-bottom: 20px;
  font-size: 18px;
}

.fibmo-blank {
  color: red;
  /* border-bottom: 2px solid red; */
  border-bottom: 1px dashed rgb(211, 47, 47);  
  padding: 0 4px;
  cursor: pointer;
}

.fibmo-blank.filled {
  font-weight: 500;
}

.fibmo-input {
  font-size: 1rem;
  padding: 2px 6px;
  border: 1px solid #999;
  border-radius: 4px;
  min-width: 80px;
}

.fibmo-input:hover {
  background-color: #fff3e0;
}

.fibmo-choices {
  margin-top: 15px;
}

.fibmo-choice {
  display: inline-block;
  margin: 5px;
  padding: 6px 12px;
  border: 1px solid #888;
  border-radius: 6px;
  cursor: pointer;
  background: #f9f9f9;
}

.fibmo-choice.active {
  background: #c2f0c2;
  border-color: #2e7d32;
  font-weight: bold;
}
