.content { margin-top:54px; }
.header {padding:15px; position:fixed; top:0; width:100%; z-index:9999; }
.left-title { width:80px; color:#FFF; font-size:18px; float:left; }
.right-title { width:150px; text-align:right; float:right; color:#FFF;  }
.quiz-body { margin-top:15px; padding-bottom:50px; }
.option-block-container { margin-top:20px; max-width:420px; }
.option-block { padding:10px; background:aliceblue; border:1px solid #84c5fe; margin-bottom:10px; cursor:pointer; }
.result-question { font-weight:bold; }
.c-wrong { margin-left:20px; color:#FF0000; }
.c-correct {  margin-left:20px; color:green; }
.last-row { border-bottom:1px solid #ccc; padding-bottom:25px; margin-bottom:25px; }
.res-header { border-bottom:1px solid #ccc; margin-bottom:15px; padding-bottom:15px; }


/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 20%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.red {background:#f97171}
.orange {background:#f99e50}
.yellow {background:#f5d55f}
.green {background:#c5ed77}
.aqua {background:#72f1d4}
.blue {background:#72c2f1}
.purple {background:#987ded}
.pink {background:#dc7ded}


@media only screen and (max-width: 600px)
{

  .modal
  {
     width: 50vw;
     height: 50vh;
     height: calc(var(--vh, 1vh) * 50);
  }

  .column
  {
    width: 50%;
  }

}
